.imagens {
text-align: center;
background: black;

}

.listas {
	background: black;
}
.minhalista {
color: whitesmoke;
font-size: 30;
}

.lista {
color: whitesmoke;
font-size: 30;
}

.rodape {
text-align: center;
background: greenyellow;
border-top-style: solid;
margin-left: -8px;
margin-right: -8px;
margin-bottom: -30px;
padding: 1px;
}


#cabecalho {
text-align: center;
background: greenyellow;
border-bottom-style: solid;
margin-left: -8px;
margin-right: -8px;
margin-top: -8px;
}

#imagem {
text-align: center;
border: 5px;
border-style: solid;
border-color: blue;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
padding-top: 10px;
padding-bottom: 10px;
margin-left: 350px;
margin-right: 350px;
}
#link {
text-align: center;
}
p {
 color:red;
 font-size: 30;
 text-align: right;
}
h1{
 color:blue;
 text-align: center;
 font-size: 50;
}
h2{
 color:green;
 text-align: left;
 font-size: 40;
}
